body {
  font-family: sans-serif;
}

p {
  margin-top: 0px;
  line-height: 1.5em;
  font-size: 1em;
}

a {
  color: #0083E1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
  margin: 1em 0;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.15em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

hr {
  height: 1px;
  padding: 0;
  margin: 16px 0;
  background-color: #DFDFDF;
  border: 0 none;
}

code, pre {
  border-radius: 6px;
  background-color: rgba(175,184,193,0.2);
}

code {
  padding: 0.2em 0.4em;
  font-family: monospace;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  padding: 16px;
}

pre > code {
  padding: 0;
  background-color: transparent;
}

.myst_content_parent {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.flex-break {
  width: 100%;
}

.myst_content {
  font-family: monospace;
  font-size: 0.94em;
  resize: none;
}

.myst_content, .myst_rendered {
  padding: 8px;
  min-height: 300px;
  flex: 1;
}

.myst_rendered {
  font-family: sans-serif;
  vertical-align: top;
  border: 1px solid #e5e5e5;
  color: #332d37;
}

.myst_top_bar {
  width: 100%;
  height: 30px;
  flex: 2;
  background-color: #eee;
}

/* This will need to be moved to the button group */
.myst_top_bar button {
  height: 30px;
  padding: 0 10px;
  margin: 0;
}

.myst_top_bar button.active {
  background-color: #aaa;
}

.hidden {
  display: none;
}
