.myst_content_parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.myst_content {
  font-family: SourceCodePro, monospace;
  resize: none;
}

.myst_content, .myst_rendered {
  padding: 8px;
  min-height: 300px;
}

.myst_rendered {
  vertical-align: top;
  border: 1px solid #e5e5e5;
  color: #332d37;
}

.myst_top_bar {
  width: 100%;
  height: 40px;
  grid-column: 1 / 3;
  background-color: #eee;
}

.hidden {
  display: none; 
}
