.myst_content_parent {
  display: flex;
  flex-flow: row wrap;
}

.flex-break {
  width: 100%;
}

.myst_content {
  font-family: SourceCodePro, monospace;
  resize: none;
}

.myst_content, .myst_rendered {
  padding: 8px;
  min-height: 300px;
  flex: 1;
}

.myst_rendered {
  vertical-align: top;
  border: 1px solid #e5e5e5;
  color: #332d37;
}

.myst_top_bar {
  width: 100%;
  height: 30px;
  flex: 2;
  background-color: #eee;
}

/* This will need to be moved to the button group */
.myst_top_bar button {
  height: 30px;
  padding: 0 10px;
  margin: 0;
}

.myst_top_bar button.active {
  background-color: #aaa;
}

.hidden {
  display: none;
}
