:root {
  --border-radius: 5px;
  --black: #000;
  --gray-900: #333;
  --gray-800: #5c5c5c;
  --gray-700: #88818c;
  --gray-600: #cccccc;
  --gray-500: #dadada;
  --gray-400: #e5e5e5;
  --gray-300: #e8e6e8;
  --gray-200: #f8f8f8;
  --gray-100: #f9f9f9;
  --white: #fff;
  --blue-500: #0083e1;
  --blue-200: #82cfe6;
  --blue-100: #c1e4ef;
  --red-500: #e74a3c;
  --orange-500: #f59e0b;
  --green-500: #00af91;
  --green-400: #00ccaa;
  --border-2: 3px;
  --dark-violet: #332d37;

  --navbar-bg: var(--gray-200);
  --icon-border: var(--gray-600);
  --icon-bg: var(--white);
  --icon-main-selected: var(--blue-100);
  --icon-main-active: var(--blue-200);
  --icon-selected: var(--gray-400);
  --icon-color: var(--dark-violet);
  --separator: var(--gray-500);
  --alert: var(--blue-100);
}

@media print {
  @page {
    margin: 1.5cm !important;
  }
}

#myst-css-namespace {
  font-family: "Lato", sans-serif;
  height: 100%;
}

#myst-css-namespace .todo {
  background-color: yellow;
}

/* Lato font */
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
