:root {
  --border-radius: 5px; 
  --black: #000;
  --gray-900: #333;
  --gray-800: #5c5c5c;
  --gray-700: #88818c;
  --gray-600: #ced2de;
  --gray-500: #dfdfdf;
  --gray-400: #e5e5e5;
  --gray-300: #e8e6e8;
  --gray-200: #f7f7f7;
  --gray-100: #f9f9f9;
  --white: #fff;
  --blue-500: #0083e1; 
  --blue-400: #6ab0de;
  --red-500: #D0342C;
  --orange-500: #f59e0b;
  --green-500: #00af91;
  --green-400: #00ccaa;
  --border-2: 3px;
}

@media print {
  @page {
    margin: 1.5cm !important;
  }
}
