:root {
  --border-radius: 5px; 
  --black: #000;
  --gray-900: #333;
  --gray-800: #5c5c5c;
  --gray-700: #88818c;
  --gray-600: #ced2de;
  --gray-500: #dfdfdf;
  --gray-400: #e5e5e5;
  --gray-300: #e8e6e8;
  --gray-200: #f7f7f7;
  --gray-100: #f9f9f9;
  --white: #fff;
  --blue-500: #0083e1; 
  --blue-400: #6ab0de;
  --red-500: #D0342C;
  --green-500: #00af91;
  --green-400: #00ccaa;
  --border-2: 3px;
}

.myst_rendered p {
  margin-top: 0px;
  line-height: 1.5em;
  font-size: 1em;
}

.myst_rendered a {
  color: var(--blue-500);
}

.myst_rendered h1,
.myst_rendered h2,
.myst_rendered h3,
.myst_rendered h4,
.myst_rendered h5,
.myst_rendered h6 {
  font-weight: bold;
  line-height: 1.5;
  margin: 1em 0;
}

.myst_rendered h1 {
  font-size: 1.8em;
}
.myst_rendered h2 {
  font-size: 1.5em;
}
.myst_rendered h3 {
  font-size: 1.25em;
}
.myst_rendered h4 {
  font-size: 1.15em;
}
.myst_rendered h5 {
  font-size: 1.1em;
}
.myst_rendered h6 {
  font-size: 1em;
}

.myst_rendered hr {
  height: 1px;
  padding: 0;
  margin: 16px 0;
  background-color: var(--gray-500);
  border: 0 none;
}

.myst_rendered code, .myst_rendered pre {
  border-radius: var(--border-radius);
  background-color: var(--gray-200);
}

.myst_rendered code {
  padding: 0.2em 0.4em;
  font-family: "Source Code Pro";
  font-size: 1em;
}

.myst_rendered aside {
  border-radius: var(--border-radius);
}

.myst_rendered aside.admonition {
  border: var(--border-2) solid var(--green-500);
  margin-bottom: 1rem;
}

.myst_rendered aside.admonition aside.admonition {
  margin: 0 1.4rem 0.9rem 1.4rem;
}

.myst_rendered aside.admonition header,
.myst_rendered aside.admonition p {
  padding: 10px;
  background-color: inherit;
  color: var(--black);
}

.myst_rendered aside.admonition > p {
  color: var(--black);
  background-color: var(--white);
  margin-bottom: 0;
}

.myst_rendered aside[class^="admonition "] {
  background-color: var(--white);
}

.myst_rendered aside.admonition header {
  color: var(--white);
  font-weight: bold;
  background: var(--green-500);
}

.myst_rendered aside.admonition.note ,
.myst_rendered aside.admonition.important ,
.myst_rendered aside.admonition.tip ,
.myst_rendered aside.admonition.hint ,
.myst_rendered aside.directive-unhandled ,
.myst_rendered aside.admonition.warning aside[class^="admonition"]  {
  border: 3px solid var(--blue-400);
}

.myst_rendered aside.admonition.note header,
.myst_rendered aside.admonition.important header,
.myst_rendered aside.admonition.tip header,
.myst_rendered aside.admonition.hint header,
.myst_rendered aside.directive-unhandled header,
.myst_rendered aside.admonition.warning aside[class^="admonition"] header {
  background-color: var(--blue-400);
}

.myst_rendered aside.admonition.warning {
  border: 3px solid var(--red-500);
}

.myst_rendered aside.admonition.warning header {
  background-color: var(--red-500);
}

.myst_rendered aside.admonition.note header::before,
.myst_rendered aside.admonition.important header::before,
.myst_rendered aside.admonition.warning header::before,
.myst_rendered aside.admonition.tip header::before,
.myst_rendered aside.admonition.hint header::before {
  padding-right: 5px;
  position: relative;
  top: 2px;
}

.myst_rendered aside.admonition.warning header::before,
.myst_rendered
  aside[class^="admonition"]
  aside.admonition.warning
  header::before {
  content: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-exclamation-triangle' viewBox='0 0 16 16'%3E%3Cpath d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z' fill='white'%3E%3C/path%3E%3Cpath d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z' fill='white'%3E%3C/path%3E%3C/svg%3E%0A");
}

.myst_rendered aside.admonition.tip header::before,
.myst_rendered aside.admonition.hint header::before {
  content: url("data:image/svg+xml,%3Csvg style='color: white' width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0V2H8V0H7Z' fill='white'%3E%3C/path%3E%3Cpath d='M3.35355 3.64645L1.85355 2.14645L1.14645 2.85355L2.64645 4.35355L3.35355 3.64645Z' fill='white'%3E%3C/path%3E%3Cpath d='M12.3536 4.35355L13.8536 2.85355L13.1464 2.14645L11.6464 3.64645L12.3536 4.35355Z' fill='white'%3E%3C/path%3E%3Cpath d='M7.49998 3C5.52977 3 3.85938 4.44872 3.58075 6.39913L3.5707 6.46949C3.41148 7.58398 3.73042 8.64543 4.36009 9.45895C4.74345 9.95426 5 10.427 5 10.9013V12.5C5 12.7761 5.22386 13 5.5 13H9.5C9.77614 13 10 12.7761 10 12.5V10.9013C10 10.427 10.2565 9.95423 10.6399 9.45893C11.2696 8.64541 11.5885 7.58397 11.4293 6.4695L11.4192 6.39914C11.1406 4.44873 9.4702 3 7.49998 3Z' fill='white'%3E%3C/path%3E%3Cpath d='M0 8H2V7H0V8Z' fill='white'%3E%3C/path%3E%3Cpath d='M13 8H15V7H13V8Z' fill='white'%3E%3C/path%3E%3Cpath d='M6 15H9V14H6V15Z' fill='white'%3E%3C/path%3E%3C/svg%3E");
}

.myst_rendered aside.admonition.note header::before {
  content: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-pencil' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z' fill='white'%3E%3C/path%3E%3C/svg%3E");
  align-self: flex-start;
  padding-right: 5px;
}

.myst_rendered aside.admonition.important header::before {
  content: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M18 16v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-5 0h-2v-2h2v2zm0-4h-2V8h2v4zm-1 10c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2z' fill='white'%3E%3C/path%3E%3C/svg%3E");
}

.myst_rendered pre {
  white-space: pre-wrap;
  padding: 16px;
}

.myst_rendered pre > code {
  padding: 0;
  background-color: transparent;
}

.myst_rendered table {
  border-spacing: 0;
  margin: 20px 0 20px 0;
}

.myst_rendered sup {
  line-height: 0;
}

.myst_rendered sub {
  line-height: 0;
}

.myst_rendered abbr {
  letter-spacing: 0.1em;
  font-weight: bold;
}

.myst_rendered numref {
  line-height: 0;
  vertical-align: super;
  font-size: 0.83em;
}

.myst_rendered th,
.myst_rendered td {
  padding: 20px;
  text-align: left;
  border-right: 1px solid var(--gray-500);
  border-bottom: 1px solid var(--gray-500);
}

.myst_rendered th {
  background: var(--gray-900);
  border-top: 1px solid var(--gray-500);
}

.myst_rendered td p:last-of-type {
  margin-bottom: 0;
}

.myst_rendered tr td:first-of-type {
  border-left: 1px solid var(--gray-500);
}

.myst_rendered table th:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-left: 1px solid var(--gray-500);
}

.myst_rendered table th:last-of-type {
  border-top-right-radius: var(--border-radius);
}

.myst_rendered table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: var(--border-radius);
}

.myst_rendered table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: var(--border-radius);
}

.myst_rendered thead {
  color: var(--white);
}

.myst_rendered tr:nth-child(2n + 2) {
  background: var(--gray-100);
}

.myst_rendered {
  padding: 20px;
  min-height: 500px;
  flex: 1;
  border: 1px solid var(--gray-400);
  box-shadow: inset 0px 0px 4px var(--gray-600);
  border-radius: var(--border-radius);
}

.myst_rendered {
  font-family: "Lato", sans-serif;
  vertical-align: top;
  border-left: 1px solid var(--gray-600);
  color: var(--gray-900);
  word-break: break-word;
}

.myst_rendered.hidden {
  display: none;
}

.myst_rendered > p {
  break-inside: avoid !important;
}

.myst_rendered img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myst_rendered li {
  margin-bottom: 1em;
}

.myst_rendered ul,
.myst_rendered ol {
  margin-bottom: 2em;
}

.myst_rendered .directive-unhandled {
  border: 3px solid var(--blue-400);
  margin-bottom: 1em;
}

.myst_rendered aside.directive-unhandled header mark {
  background: transparent;
  color: var(--white);
  font-weight: bold;
}

.myst_rendered aside.directive-unhandled header {
  padding: 10px;
}

.myst_rendered aside.directive-unhandled header code {
  background: transparent;
  color: var(--white);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 0;
}

.myst_rendered aside.directive-unhandled pre {
  background-color: var(--white);
  margin: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

.myst_rendered blockquote {
  border-left: 5px solid var(--green-500);
  margin-left: 0;
  margin-top: 0;
  padding-left: 0.75rem;
}

@media print {
  .myst_rendered {
    display: block !important;
    border: 0px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    word-break: unset !important;
  }
  .myst_rendered > p {
    break-inside: avoid !important;
    text-align: justify !important;
    text-justify: inter-word !important;
  }
  a:after {
    content: "(" attr(href) ")" !important;
  }
  @page {
    margin: 1.5cm !important;
  }
}
