on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: actions/download-artifact@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Build
        run: |
          npm ci && npm run build
          mkdir public
          mv dist/* public

      - name: Install dependencies for docs
        run: |
          sudo apt-get update
          python -m pip install -r docs/requirements.txt

      - name: Generate documentation
        run: |
          cd docs
          make html
          cd ..
          mkdir public/docs
          mv docs/build/html/* public/docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public